.App {
  padding-top: 10px;
  text-align: center;
}

button {
  width: 100px;
  height: 30px;
}

div {
  margin-top: 10px;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, 1fr);
}